<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مگنت
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در تمرین آخر فصل «آماده‌سازی داده» قصد داریم پس از انجام چندین گام پیش‌پردازش، داده‌های آگهی‌های شغلی کوئرا را تحلیل کنیم.
آنچه در این تمرین تحلیل می‌کنیم مطمئناً بخش بسیار کوچکی از حقایق پنهان در دل داده‌هاست. پس پیشنهاد می‌کنیم علاوه بر آنچه این تمرین از شما می‌خواهد، خود نیز سعی کنید حقایق دیگری از داده‌ها استخراج کنید.
این مجموعه‌داده شامل آگهی‌های شغلی است که در کوئرا ثبت شده‌اند. برای حفظ حریم شخصی شرکت‌ها، شناسه‌ی شرکت‌های ثبت‌کننده آگهی از مجموعه‌داده حذف شده است. هر سطر از این مجموعه‌داده اطلاعات یک آگهی‌ شغلی است که شرکتی قصد جذب نیروی متناسب با آن را داشته است.
</font>
</p>

In [1]:
import pandas as pd
from datetime import datetime

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مجموعه داده‌ی این سوال دارای ۸ ستون است که در جدول زیر به شرح ستون‌های آن پرداخته شده‌است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| نام ستون| توضیح ستون|
|:------------------:|:------------------:|
|Level|سطح نیرویی که شرکت قصد جذب داشته. این ستون دارای ۴ مقدار منحصر به فرد است. (Junior) S (Senior)، M (Mid level)، J و (Intern) I|
|Offers Remote|نشان می‌دهد آیا شرکت امکان دورکاری برای موقعیت شغلی را فراهم کرده‌ است یا خیر.|
|Publish Time|تاریخ و ساعتی که آگهی شغلی منتشر شده است.|
|Salary|حقوقی که شرکت برای یک موقعیت شغلی خاص در نظر گرفته‌ است. <code>MT</code> آخر هر عبارت نشان‌دهنده‌ی «میلیون تومان» است. و علامت‌های <code>></code> و <code><</code> حد بالا و حد پایین حقوق نوشته‌شده را نشان می‌دهد.|
|Title|عنوانی که شرکت برای یک آگهی شغلی خاص ثبت کرده است.|
|Close Time|تاریخ و ساعتی که آگهی شغلی بسته شده است.|
|State|وضعیت فعلی آگهی شغلی را نشان می‌دهد. دارای سه مقدار منحصر به فرد است. A (Archived)، C (Closed) و PB (Published)|
|Collaboration Type|وضعیت همکاری را نشان می‌دهد که آیا FT (Full Time / تمام‌وقت) است یا PT (Part Time / پاره‌وقت)|

    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    این سوال در دو بخش تدوین شده است: پیش‌پردازش و تحلیل.
    در ابتدا مراحل پیش‌پردازش را شرح خواهیم‌ داد، سپس به سراغ مرحله‌ی تحلیل می‌رویم.
</font>
</p>

In [2]:
# TODO: read the dataset
df = pd.read_csv('./job_posts.csv')
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
4,NaN,False,2017-05-01 20:23:08,NaN,توسعه دهنده #C,2017-06-30 20:23:08,C,NaN
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
پیش‌پردازش این سوال، شامل سه گام است که پس از اعمال آن‌ها، مجموعه‌داده‌ی ما برای تحلیل آماده می‌شود.    
</font>
</p>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام اول پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    سطرهایی که <b>هر ۳ ستون </b> <code>Level</code> ،<code>Salary</code> و <code>Collaboration Type</code> در آن‌ها گم‌شده‌اند (<code>NaN</code> هستند) را کلاً از داده‌ها حذف کنید. با داده‌ای که از این مرحله به‌دست می‌آورید سراغ گام دوم بروید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
        برای حذف مقادیر گم‌شده از تابع <code>dropna</code> استفاده می‌کنیم.
        آرگومان <code>how</code> به این منظور به کار گرفته شده که تنها درصورتی سطری حذف شود که همه ستون‌های حاضر در آرگومان <code>subset</code> مقدار <code>NaN</code> داشته باشند یا به اصطلاح گم‌شده باشند.
        آرگومان <code>subset</code> اسم ستون‌هایی را می‌گیرد که ما قصد داریم بررسی کنیم آیا مقدار گم‌شده‌ای در آن‌ها هست یا خیر. یعنی به جای اینکه همه‌ی ستون‌ها را بررسی کنیم صرفا همین ۳ ستون را در نظر می‌گیریم.
    </font>
</p>

In [3]:
df.dropna(how='all', subset=['Level', 'Salary', 'Collaboration Type'], inplace=True)

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	  <font face="vazir" size=3>
    جهت اطمینان از اینکه اکنون هیچ سطری نیست که مقدار هر سه ستون <code>Level</code>، <code>Salary</code> و <code>Collaboration Type</code> آن گم‌شده باشد کد زیر را اجرا می‌کنیم.
    </font>
</p>

In [4]:
df[(df.Level.isna()) & (df.Salary.isna()) & (df['Collaboration Type'].isna())]

Empty DataFrame
Columns: [Level, Offers Remote, Publish Time, Salary, Title, Close Time, State, Collaboration Type]
Index: []

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام دوم پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مقادیر ستون <code>Salary</code> را با عددی که دارند جایگزین کنید.
    مثلا مقداری مثل 
    <code>>6MT</code>
     را به 
     <code>6</code>
      تبدیل کنید.
    یا 
    <code>>12MT</code>
     را به
      <code>12</code>
       و ... تبدیل کنید.
    <br>
    به صورت کلی، عدد هر رشته  از ستون <code>Salary</code> را جدا کرده و جایگزین همان رشته‌ی درون دیتاست کنید.
    </font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	  <font face="vazir" size=3>
        در خط نخست با استفاده از عبارت منظم <code> >|< </code>از ستون <code>Salary</code> علامت <code><</code> یا <code>></code> را با یک رشته خالی جایگزین می‌کنیم.
        سپس در خط دوم هر جا در ستون <code>Salary</code> که عبارت <code>MT</code> آمده باشد را با رشته خالی جایگزین می‌کنیم.
        و در نهایت با استفاده از تابع <code>to_numeric</code> پانداز ستون <code>Salary</code> را به عدد تبدیل می‌کنیم. دلیل این کار این است که تا قبل از این مرحله جنس مقادیر ستون <code>Salary</code> همگی <code>object</code> است. ولی منطقاً ستونی که حقوق را نشان می‌دهد باید از نوع عددی باشد!
        آرگومان <code dir=ltr>errors="coerce"</code> به این دلیل به‌کار رفته است که آن دسته از مقادیری که در ستون <code>Salary</code> هستند ولی قابلیت تبدیل به عدد را ندارند، به <code>NaN</code> تبدیل کنیم.
        در این مثال، مقادیری که از قبل به صورت <code>NaN</code> در این ستون وجود داشتند، با تابع <code>to_numeric</code> به عدد تبدیل نمی‌شوند.
    </font>
</p>

In [5]:
df['Salary'] = df['Salary'].str.replace(r'>|<', "", regex=True)
df['Salary'] = df['Salary'].str.replace("MT", "")
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام سوم پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مقادیر گم‌شده‌ی ستون <code>Salary</code> را با میانگین حقوق‌ها <b>به تفکیک سطح</b> پر کنید. یعنی اگر <code>Salary</code> یک آگهی جونیور (<code>J</code>) گم‌شده بود، آن را با میانگین همه‌ی جونیورها پر کنید؛ اگر <code>Salary</code> یک آگهی سینیور (<code>S</code>) گم‌شده بود، آن را با میانگین همه‌ی سنیورها پر کنید؛ اگر <code>Salary</code> یک آگهی میدلول (<code>M</code>) گم‌شده بود، آن را با میانگین همه‌ی میدلول‌ها پر کنید؛ اگر <code>Salary</code> یک آگهی اینترن (<code>I</code>) گم‌شده بود، آن را با میانگین همه‌ی اینترن‌ها پر کنید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
    ابتدا میانگین حقوق هر سطح را محاسبه کنیم.
    </font>
</p>

In [6]:
senior_mean_salary = df[df.Level=='S']['Salary'].mean()
midlevel_mean_salary = df[df.Level=='M']['Salary'].mean()
junior_mean_salary = df[df.Level=='J']['Salary'].mean()
intern_mean_salary = df[df.Level=='I']['Salary'].mean()

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
        حال باید سطرهایی که مقدار <code>Salary</code> در آن‌ها گم‌شده است را با توجه به سطح آن، با میانگین‌هایی که در سلول قبل محاسبه کردیم، پر کنیم. اجازه دهید خط اول را به عنوان نمونه توضیح دهیم.
        در کروشه (قلاب) روبروی ویژگی <code>loc</code> دو مقدار می‌تواند نوشته شود. سمت چپ کاما (<code>,</code>) باید نمایه‌ی سطر‌ها و سمت راست آن باید اسم ستون را بنویسیم.
        برای نمایه‌های سطر، آن‌هایی را انتخاب کردیم که هم ستون <code>Salary</code>شان مقدار گم‌شده داشته باشد، هم سطح‌شان برابر <code>S</code> باشد.
        پس <code>df.loc[(df.Salary.isna()) & (df.Level == 'S'), 'Salary']</code> سطرهایی را انتخاب می‌کند که عملاً مقدار <code>Salary</code> ندارند و سطح‌شان هم سنیور (<code>S</code>) است.
       چون سمت راست کاما، ستون <code>Salary</code> را نوشته‌ایم، به ستون حقوق سطرهایی که در بالا توضیح‌شان دادیم دسترسی داریم.
        اکنون می‌توانیم ستون حقوق این سطر‌ها را با میانگین متناظرش که در سلول پیشین به‌دست آوردیم جایگزین کنیم.
    </font>
</p>

In [7]:
df.loc[(df.Salary.isna()) & (df.Level == 'S'), 'Salary'] = senior_mean_salary
df.loc[(df.Salary.isna()) & (df.Level == 'M'), 'Salary'] = midlevel_mean_salary
df.loc[(df.Salary.isna()) & (df.Level == 'J'), 'Salary'] = junior_mean_salary
df.loc[(df.Salary.isna()) & (df.Level == 'I'), 'Salary'] = intern_mean_salary

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
    با اجرای کد زیر می‌توانیم مطمئن شویم که ستون <code>Salary</code> دیگر هیچ مقدار گم‌شده‌ای ندارد.
    </font>
</p>

In [8]:
df.isna().sum()

Level                   0
Offers Remote           0
Publish Time            0
Salary                  0
Title                   0
Close Time            582
State                   0
Collaboration Type      0
dtype: int64

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال با داده‌ای که پس از این مراحل به‌دست آورده‌اید، به حل سوالات بعدی بپردازید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تحلیل    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    بخش تحلیل تمرین مگنت نیز از سه گام تشکیل شده‌است:
    <ul dir=rtl>
    <li>در گام اول می‌خواهیم تاثیر کرونا بر دورکاری در ایران را بسنجیم.</li>
    <li>در سوال دوم تاثیر زمان بر انتشار آگهی‌های شغلی را اندازه می‌گیریم.</li>
    <li>و نهایتاً در گام سوم میانگین دریافتی فعالان حوزه‌ی داده را به‌دست خواهیم آورد.</li>
    </ul>
</font>
</p>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام اول تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    نرخ آگهی‌های شغلی که پیشنهاد دورکاری دارند، چقدر نسبت به قبل از اولین مورد رسمی کرونا در ایران بیشتر شده است؟ منظور از «نرخ آگهی‌های شغلی که پیشنهاد دورکاری دارند» حاصل تقسیم آگهی‌های شغلی که پیشنهاد دورکاری دارند بر تعداد کل آگهی‌هاست (تعداد ردیف‌های دیتافریم). هدف این سوال این است که بفهمیم کرونا چقدر در دورکاری موثر بوده‌ است. برای این حل سوال، نرخ آگهی‌های دورکار پیش از کرونا را از نرخ آگهی‌های دورکار پس از کرونا کم کنید (یا تعدادشان را از هم‌دیگر کم کرده و نهایتاً بر تعداد کل آگهی‌ها تقسیم کنید).
    اولین مورد رسمی کرونا در ایران را می‌توانید از متغیر <code>start_of_corona</code> که در سلول زیر گذاشته شده است پیدا کنید.
    توجه داشته باشید اولین روزی که کرونا به ایران آمد را نیز جزو روزهای <u>پس از کرونا</u> لحاظ <b>کنید</b>.
    <br>
    جواب این سوال را درون متغیر <code>remote_growth</code> ذخیره کنید. جنس این متغیر از نوع <code>float</code> است. 
    <br>
    <span color=”green”><b>راهنمایی:</b></span>
    به عنوان مثال برای محاسبه‌ی نرخ آگهی‌های پیش از کرونا باید تعداد آگهی‌هایی که هم از نوع دورکاری هستند و هم تاریخ ثبت (<code>Publish Time</code>) آن‌ها پیش از تاریخ شروع کرونا بوده است را شمارش کرده و سپس حاصل را بر تعداد کل آگهی‌ها (از هر نوعی و در هر تاریخی) تقسیم کنید.
</font>
</p>

In [9]:
start_of_corona = datetime.strptime("2020-02-19", "%Y-%m-%d")

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
    پیش از هرچیز نیاز است تا نوع ستون <code>Publish Time</code> را به نوع <code>datetime</code> تغییر دهیم تا بتوان مقادیر آن را با مقدار متغیر <code>start_of_corona</code> مقایسه کرد.
    </font>
</p>

In [10]:
df['Publish Time'] = pd.to_datetime(df['Publish Time'], format="%Y-%m-%d")

before_corona = df[(df['Publish Time'] < start_of_corona) & (df['Offers Remote']==True) ].shape[0]
after_corona =  df[(df['Publish Time'] >= start_of_corona) & (df['Offers Remote']==True) ].shape[0]

remote_growth = (after_corona - before_corona) / df.shape[0]
print('remote growth:', remote_growth)

remote growth: 0.23820038642009383

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام دوم تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این گام قصد داریم به گسسته‌سازی زمان بپردازیم و باید ۲۴ ساعت شبانه‌روز را طبق جدول پایین به ۴ دسته بشکنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|اسم|بازه زمانی|
|:-------:|:-----:|
|dawn| ۰۰:۰۰ تا ۵:۵۹:۵۹|
|morning|۶:۰۰ تا ۱۱:۵۹:۵۹|
|noon|۱۲:۰۰ تا ۱۷:۵۹:۵۹|
|night|۱۸:۰۰ تا ۲۳:۵۹:۵۹|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 حال محاسبه کنید در هر کدام از این ۴ بازه چه تعداد آگهی شغلی منتشر شده است؟ جواب شما باید درون متغیری به اسم <code>discrete_time</code> ذخیره شده باشد. این متغیر یک دیتاسری است که نمایه‌های (<code>index</code>) آن <code>dawn</code>, <code>morning</code>, <code>noon</code> و <code>night</code> هستند و مقدار متناظر با هر کدام از این نمایه‌ها، تعداد آگهی‌های شغلی منتشرشده است.
</font>
</p>

In [11]:
from datetime import time

morning = time(6,0,0)
noon = time(12,0,0)
night = time(18,0,0)

In [12]:
def discretize_time(date_time) :
    if date_time.time() < morning :
        return 'dawn'
    elif date_time.time() < noon :
        return 'morning' 
    elif date_time.time() < night :
        return 'noon' 
    return 'night'

In [13]:
discretized_time = df['Publish Time'].apply(discretize_time)

In [14]:
discrete_time = discretized_time.value_counts()
discrete_time

noon       3950
morning    2443
night       746
dawn        107
Name: Publish Time, dtype: int64


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام سوم تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این سوال می‌خواهیم میزان پرداختی شرکت‌ها به افراد فعال در حوزه‌ی دیتا را بررسی کنیم. برای اینکه بتوانیم آگهی‌های شغلی این حوزه را فیلتر کنیم، لیستی از کلیدواژه‌ها در سلول زیر قرار داده شده است. فرض می‌کنیم همه آگهی‌های شغلی که در عنوان (<code>Title</code>) خود یکی از این کلمات به‌کار رفته است، به حوزه‌ی داده مربوط می‌شود. لازم نیست تیتر یک آگهی تماماً یکی از کلید‌های موجود در لیست کلیدواژه‌ها باشد؛ صرفاً اگر یک کلید بخشی از تیتر یک آگهی شغلی باشد نیز ما آن آگهی شغلی را مرتبط به داده فرض می‌کنیم. مثلاً اگر کلیدی به اسم <i>Data Analyst</i> درون لیست کلیدواژه‌ها حضور داشته باشد، آنگاه یک آگهی با تیتر <i>"استخدام Data Analyst"</i> را مرتبط با حوزه‌ی داده در نظر می‌گیریم.
    <br>
    حال سوال را این‌گونه تعریف می‌کنیم: میانگین میزان پرداختی شرکت‌ها به افراد حاضر در حوزه‌ی داده به تفکیک سطح‌شان چقدر است؟ جواب خود را درون یک دیتاسری به اسم <code>data_mean</code> بریزید. نمایه‌های این سری حروف <code>S</code>, <code>J</code>, <code>I</code> و <code>M</code> هستند و مقدار متناظر با هر کدام از این نمایه‌ها، میانگین حقوق پرداختی شرکت‌ها به آن سطح خاص است.    
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<span color=”green”><b>راهنمایی بزرگ:</b></span>
<font face="vazir" size=3>
فراموش نکنید که پیش از انجام محاسبات، ستون <code>Title</code> را به حروف کوچک تبدیل کنید. دلیل چنین کاری این است که اگر مثلاً عنوان یک آگهی <i> Senior Data Engineer</i> باشد، کد شما باید آن را به حروف کوچک تبدیل کرده تا بتواند کلیدواژه‌ی <i>data engineer</i> را در آن پیدا کرده و آگهی را در حوزه‌ی داده تشخیص دهد.
</font>
</p>

In [15]:
keywords = ['machine learning', 'machinelearning', 'داده' , 'data scientist' ,  'datascientist' ,\
        'هوش مصنوعی' ,'پردازش ویدئو' , 'data engineer' , 'dataengineer' ,'بینایی ماشین' , 'یادگیری ماشین' ,\
        'deep learning', 'deeplearning', 'یادگیری عمیق', 'دیتاساینتیست' , 'artificial intelligence' \
        ,'artificialintelligence', 'هوش' , 'data analysis' , 'dataanalysis' , 'پردازش تصویر' , 'شبکه‌های عمیق', 'علم‌داده']

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazir" size=3 color=#0099cc>
    <b>شرح پاسخ:</b>
    </font>
	<font face="vazir" size=3>
    همانطور که راهنمایی شده ابتدا ستون <code>Title</code> را به حروف کوچک تبدیل می‌کنیم. سپس از تابع آماده‌ی <code>str.contains</code> استفاده می‌کنیم تا یک پترن را در میان مقادیر این ستون بیابد. پترن مربوطه به معنی کلیدواژه‌ی اول یا کلیدواژه‌ی دوم یا کلیدواژه‌ی سوم و ... است. بنابراین اگر هرکدام از این کلیدواژه‌ها در یک عنوان دیده شود <code>df.Title.str.contains(pattern)</code> برای آن ردیف مقدار <code>True</code> تولید خواهد کرد.
    سپس ردیف‌هایی که شرط بالا برای آن‌ها برقرار بوده را طبق سطح‌شان گروه‌بندی خواهیم کرد و در آخر میانگین حقوق آن‌ها را محاسبه می‌کنیم.
    </font>
</p>

In [16]:
df['Title'] = df['Title'].str.lower()

pattern = '|'.join(keywords)
data_mean = df[df.Title.str.contains(pattern)].groupby('Level').Salary.mean()
data_mean

Level
I     2.256501
J     5.750707
M    12.000000
S     8.891994
Name: Salary, dtype: float64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال‌شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [ ]:
import zipfile
import joblib

pd.DataFrame.to_csv(df, 'df.csv')
joblib.dump(remote_growth, "remote_growth")
joblib.dump(discrete_time, "discrete_time")
joblib.dump(data_mean, "data_mean")

def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["df.csv", "remote_growth", "discrete_time", "data_mean", "quera_magnet.ipynb"]
compress(file_names)